<div id="content-wrapper">
	<div class="site">
		<h1> I need to add a edit profile feature</h1>

		<div>
			<h2 class="lead"><q>Education should be a right, not a privilege. 
			Every person in this country who has the desire and ability should be able to get all the education they need regardless of the income of their family. 
			</q> </h2> 
			<cite class="text-right">Bernie Sanders</cite> <hr >
		</div>
		
		<div class="">
			<p>The internet is vast with information to prepare students for college, from college bound initiative programs to online tools for self-preparation. As Mongoose labs plans to dismantle the pipeline from school to prison, our first course of action is to disseminate carefully curtailed lists of resources for high schools students to utilize. There are many great opportunities for high school students and we here at Mongoose Labs want to ensure they are displayed. 
			</p>
			<p>Each program or tool we have listed on this site has been verified as an advocate of educational equality. </p>
		</div>
	</div>
</div>

