<div class="container">
	<div class="test">
		<h1>Add some text about researching colleges</h1>


		<h2 class="lead"></h2>

		<div class="col-lg-4">

			<h3><a href="http://www.cappex.com/">Cappex</a></h3>

		</div>
		<div class="col-lg-4">

			<h3><a href="http://www.collegemajors101.com/">CollegeMajors101</a></h3>
			
		</div>
		<div class="col-lg-4">

			<h3><a href="http://www.collegeboard.com/">College Board</a></h3>
			
		</div>
		<div class="col-lg-4">

			<h3><a href="startclass.com">StartClass</a></h3>
			
		</div>
		<div class="col-lg-4">

			<h3><a href="https://www.niche.com/?ref=colleges">College Niche</a></h3>
			
		</div>
		<div class="col-lg-4">

			<h3><a href="http://apply101.com">Apply101</a></h3>
			
		</div>
	</div>

	<div class="test">


		<h2> Financial assistance tools</h2>
		
		<div class="col-lg-4">

			<h3><a href="https://collegeabacus.com/">College Abacus</a></h3>
			
		</div>
		<div class="col-lg-4">

			<h3><a href="https://bigfuture.collegeboard.org/pay-for-college/tools-calculators">Financial Aid Tools & Calculators - The College Board</a></h3>
			
		</div>
		<div class="col-lg-4">

			<h3><a href="http://colleges.startclass.com/stories/5672/most-financial-aid">College StartClass</a></h3>
			
		</div>

	</div>
</div>


	
	
	

	