<div id="content-wrapper">

	<div class="site">

		<div class="col-sm-12">
			<h1 class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h1>
		</div>
		


		<h2 class="lead"></h2>

		<div class="col-lg-4 site-content">

			<h3><a  target="_blank" href="http://www.cappex.com/">Cappex</a></h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>

		</div>
		<div class="col-lg-4 site-content">

			<h3><a  target="_blank" href="http://www.collegemajors101.com/">CollegeMajors101</a></h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
			
		</div>
		<div class="col-lg-4 site-content">

			<h3><a  target="_blank" href="http://www.collegeboard.com/">College Board</a></h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
		</div>
		<div class="col-lg-4 site-content">

			<h3><a  target="_blank" href="startclass.com">StartClass</a></h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
			
		</div>
		<div class="col-lg-4 site-content">

			<h3><a  target="_blank" href="https://www.niche.com/?ref=colleges">College Niche</a></h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
		</div>
		<div class="col-lg-4 site-content">

			<h3><a  target="_blank" href="http://apply101.com">Apply101</a></h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
		</div>
	</div>

	<div class="site">

		<div class="col-sm-12">
			<h2> Financial assistance tools</h2>
		</div>
		
		
		<div class="col-lg-4 site-content">

			<h3><a  target="_blank" href="https://collegeabacus.com/">College Abacus</a></h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
		</div>
		<div class="col-lg-4 site-content">

			<h3><a  target="_blank" href="https://bigfuture.collegeboard.org/pay-for-college/tools-calculators">Financial Aid Tools - The College Board</a></h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
		</div>
		<div class="col-lg-4 site-content">

			<h3><a  target="_blank" href="http://colleges.startclass.com/stories/5672/most-financial-aid">College StartClass</a></h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
		</div>

	</div>
</div>


	
	
	

	