<div class="container">
	<h1> Text on college bound programs</h1>


	<div class="col-sm-12">
		<h3><a href="http://www.ywln.org/college-prep">YWLN - Young Women's Leadership Network - CollegeBound Initiative</a></h3> <br>
		<p> Some text about the program</p>

	</div>
	<div class="col-sm-12">
		<h3><a href="https://www.girlswritenow.org/what-we-do/programs/get-to-college/">College Bound Program - Girls Write Now	</a></h3> <br>
		<p> Some text about the program</p>

	</div>
	<div class="col-sm-12">
		<h3><a href="https://www.collegegreenlight.com/cboProfile/collegebound-initiative">CBO Profile: CollegeBound Initiative | College Greenlight	</a></h3> <br>
		<p> Some text about the program</p>

	</div>
	<div class="col-sm-12">
		<h3><a href="http://www.ywcanyc.org/programs/high-school-programs/">High School and College Bound Initiatives YWCA of the City of New York</a></h3> <br>
		<p> Some text about the program</p>

	</div>
	<div class="col-sm-12">
		<h3><a href="http://www.childrenofthecity.org/college-bound/">College Bound | Children of the City	</a></h3> <br>
		<p> Some text about the program</p>

	</div>
	<div class="col-sm-12">
		<h3><a href="http://urbanwordnyc.org/creatively-college-bound/">Creatively College Bound – Urban Word NYC</a></h3>
		<p> Some text about the program</p>
	</div>
	
	<div class="col-sm-12">
		<h3><a href="https://legaloutreach.org/?page_id=144">College Bound | Legal Outreach</a></h3>
		<p> Some text about the program</p>
	</div>
	<div class="col-sm-12">
		<h3><a href="https://www.bottomline.org/">Bottom Line</a></h3>
		<p> Some text about the program</p>
	</div>
	<div class="col-sm-12">
		<h3><a href="http://americaneedsyou.org/">America Needs You</a></h3>
		<p> Some text about the program</p>
	</div>
	<div class="col-sm-12">
		<h3><a href="https://www.insidehighered.com/blogs/gradhacker">Grad Hacker	</a></h3>
		<p> Some text about the program</p>
	</div>
	<div class="col-sm-12">
		<h3><a href=""></a></h3>
	</div>
	<div class="col-sm-12">
		<h3><a href="http://collegebound.org/">College Bound - Academic enrichment and resources to prepare for</a></h3>
		<p> Some text about the program</p>
	</div>
	<div class="col-sm-12">
		<h3><a href=""></a></h3>
		<p> Some text about the program</p>
	</div>

</div>



