<div class="container">
	<div class="test"
		<h1>Add some text about free resources </h1>


		<h2 class="lead">Free Online SAT/ACT Prep</h2>

		<div class="col-lg-4">

			<h3><a href="http://prep4sat.com/">Prep4SAT</a></h3>

		</div>
		<div class="col-lg-4">

			<h3><a href="https://www.prepfactory.com/">PrepFactory.com </a></h3>
			
		</div>
		<div class="col-lg-4">

			<h3><a href="https://www.khanacademy.org/sat">Official SAT® Practice | Khan Academy </a></h3>
			
		</div>
	</div>
	<div class="courses">
		


		<h2 class="lead">Free Online Courses</h2>

		<div class="col-lg-4">

			<h3><a href="https://www.khanacademy.org/">Khan Academy</a></h3>

		</div>
		<div class="col-lg-4">

			<h3><a href="https://www.coursera.org/">Coursera | Online Courses From Top Universities </a></h3>
			
		</div>
		<div class="col-lg-4">

			<h3><a href="https://www.edx.org/">edX | Free online courses from the world's best universities</a></h3>
			
		</div>
		<div class="col-lg-4">

			<h3><a href="https://ocw.mit.edu/">MIT OpenCourseWare | Free Online Course Materials</a></h3>
			
		</div>
		<div class="col-lg-4">

			<h3><a href="https://www.class-central.com/">Class Central</a></h3>
			
		</div>
	</div>


</div>


	