<div id="content-wrapper">

	<div class="site">
		<div class="col-sm-12 site-content">
			<h1 class="lead">Add Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.   </h1>
		</div>
		


		<h2 class="lead col-sm-12 site-content">Free Online SAT/ACT Prep</h2>


		<div class="col-lg-6 col-sm-12 site-content site-content">

			<h3><a target="_blank" href="http://prep4sat.com/">Prep4SAT</a></h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>

		</div>
		<div class="col-lg-6 col-sm-12 site-content">

			<h3><a target="_blank" href="https://www.prepfactory.com/">PrepFactory.com </a></h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>

		</div>
		<div class="col-lg-6 col-sm-12 site-content">

			<h3><a target="_blank" href="https://www.khanacademy.org/sat">Official SAT® Practice | Khan Academy </a></h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>

		</div>
	


		<h2 class="lead col-sm-12 site-content">Free Online Courses</h2>

		<div class="col-lg-6 col-sm-12 site-content">

			<h3><a target="_blank" href="https://www.khanacademy.org/">Khan Academy</a></h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>

		</div>
		<div class="col-lg-6 col-sm-12 site-content">

			<h3><a target="_blank" href="https://www.coursera.org/">Coursera | Online Courses From Top Universities </a></h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>

		</div>
		<div class="col-lg-6 col-sm-12 site-content">

			<h3><a target="_blank" href="https://www.edx.org/">edX | Free online courses from the world's best universities</a></h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>

		</div>
		<div class="col-lg-6 col-sm-12 site-content">

			<h3><a target="_blank" href="https://ocw.mit.edu/">MIT OpenCourseWare | Free Online Course Materials</a></h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>

		</div>
		<div class="col-lg-6 col-sm-12 site-content">

			<h3><a target="_blank" href="https://www.class-central.com/">Class Central</a></h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>

		</div>
	</div>


</div>


	