<div id="content-wrapper">

	<div class="site">
		<div class="col-sm-12">
			<h2 class="lead">Online College tools 	</h2>
		</div>
		

		<div class="col-sm-6 col-xs-12">
			<h3><a target="_blank" href="http://studentsuccessacademy.com/">Student Success Academy	</a></h3>
			<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
		</div>


		<div class="col-sm-6 col-xs-12">
			<h3><a target="_blank" href="http://admitted.ly/">Admittedly</a></h3>
			<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
		</div>

		<div class="col-sm-6 col-xs-12">
			<h3><a target="_blank" href="http://www.collegepossible.org/">College Possible</a></h3>
			<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
		</div>

		<div class="col-sm-6 col-xs-12">
			<h3><a target="_blank" href="http://www.imfirst.org/">I’m First</a></h3>
			<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
		</div>

		<div class="col-sm-6 col-xs-12 ">
			<h3><a target="_blank" href="https://www.collegeraptor.com/">College Raptor</a></h3>
			<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
		</div>

		<div class="col-sm-6 col-xs-12 ">
			<h3><a target="_blank" href="http://roadtripnation.com/wyr">“What’s Your Road”</a></h3>
			<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
		</div>

		<div class="col-sm-6 col-xs-12">
			<h3><a target="_blank" href="https://www.raise.me/">Raise</a></h3>
			<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
		</div>

		<div class="col-sm-6 col-xs-12">
			<h3><a target="_blank" href="http://www.seoscholars.org/">SEO Scholars</a></h3>
			<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
		</div>
	</div>	
</div>


	
	
	
	
	
	