

<div id="content-wrapper">

	<div class="site">

		<h3 class="lead">
			Text about summer programs and the benefits.... <br>
			The link below has over 100 summer programs around the country <br>
			make the link open a new tab
		</h3>


		<h2><a href="http://blog.prepscholar.com/pre-college-summer-programs-for-high-school-students">128 Pre-College Summer Programs for High School Students</a></h2>

		<h2><a target="_blank" href="http://schools.nyc.gov/ui/cms/sites/empoweringboys/docs/takeaction/Real_World/High%20School%20Internships%20and%20Scholarships.pdf">Opporunities</a></h2>

	</div>

</div>




